<div class="about-wrapper">
	<h1 class="lg-heading">About</h1>
	<h2 class="sm-heading">Let me tell you a few things...</h2>
	<div class="about-info">
		<div class="bio-image"></div>
		<!--
                    <img src="imgs/resized/catto.jpg" alt="" class="bio-image" />
                -->
		<div class="bio">
			<h3 class="text-secondary">BIO</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ipsum doloremque animi eligendi ab sint
				officiis officia esse, magni perspiciatis qui fugit numquam vitae autem ullam pariatur odio libero
				voluptate?
			</p>
		</div>
		<div class="job job-1">
			<h3>Hi Ho Design | Current</h3>
			<h6>Front End Developer</h6>
			<p>
				Responsible for creating and deploying fully responsive, cross-browser compatible websites on cloud
				based containers running Linux. I have worked primarily with WordPress and have become comfortable with
				using PHP to extend the functionality of WordPress and popular plugins when bespoke solutions are
				needed.
			</p>
			<p>
				In charge of SEO formulating and implementing SEO strategies with proven results that increase
				conversions.
			</p>
		</div>
		<div class="job job-2">
			<h3>Job 2</h3>
			<h6>Full Stack Developer</h6>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic est architecto minima laboriosam
				necessitatibus voluptate eum quae veniam, natus velit.
			</p>
		</div>
		<div class="job job-3">
			<h3>Job 3</h3>
			<h6>Front End Developer</h6>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic est architecto minima laboriosam
				necessitatibus voluptate eum quae veniam, natus velit.
			</p>
		</div>
	</div>
</div>
