@import "../../../../styles/mixins.scss";
@import "../../../../styles/functions.scss";
@import "../../../../styles/variables.scss";

img {
	width: 100%;
	transition: all 0.1s linear;

	&:hover {
		transform: translateY(-2%);
	}
}

a {
	color: white;
	text-decoration: none;
}
