<main id="home">
	<h1 class="lg-heading">
		<span class="jasper"> Jasper</span><br />
		<span class="text-secondary"
			><span class="van">van</span><br />
			<span class="der">der</span> <br />
			<span class="voo"> voo</span></span
		>
	</h1>
	<h2 class="sm-heading">Front-End Developer</h2>
	<div class="icons-container">
		<a href="https://linkedin.com/in/jvandervoo" target="_blank"> <fa name="linkedin" size="2x"></fa> </a>
		<a href="https://github.com/jvandervoo" target="_blank"> <fa name="github" size="2x"></fa> </a>
	</div>
</main>
